@font-face {
    font-family: Norse;
    src: url(./fonts/NorseBold-2Kge.otf);
    font-display: swap;
}
body{
    background-color: bisque;
    color: rgb(36, 16, 2);
}
h1{
    font-family: Norse, Arial, Helvetica, sans-serif;
    font-size: 58px;
    color: rgb(15, 55, 212);
}
.mainmenu{
    list-style: none;
}
.mainmenu li{
    margin-bottom: 20px;
}
